.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-button.svg);
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-size: cover;

  position: absolute;
  right: -40px;
  top: -40px;

  cursor: pointer;
  transition: opacity .3s ease;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 695px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}