.profile__add-button {
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  align-self: center;
  background-image: url(../../../images/profile-add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border-radius: 2px;
}