.popup__save-button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  border: none;
  margin: 48px 0 0;
  padding: 0;
  height: 50px;

  transition: opacity .3s ease;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 695px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
  }
}